<nav class="navbar is-link mb-6">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'issues:list' %}">
            Issue Tracking System
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'teams:create' %}">
                New Team
            </a>
            <a class="navbar-item" href="{% url 'teams:enter' %}">
                Enter Team
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if request.user.is_authenticated %}
                    <p class="mr-6">{{ request.user }}, Welcome</p>
                    <a class="button is-warning" href="{% url 'authentications:logout' %}">Logout</a>
                    {% else %}
                    <a class="button is-primary" href="{% url 'authentications:signup' %}">
                        <strong>Signup</strong>
                    </a>
                    <a class="button is-warning" href="{% url 'authentications:login' %}">
                        Login
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
</nav>